.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    gap: 0.5em;
    z-index: 3;
}

.person>img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    cursor: pointer;
}

.person-name {
    color: var(--color-text-white);
    text-align: center;
}