.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    border-bottom: 1px solid var(--color-text-white);
    padding: 2em 0em;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile-top-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.profile-name {
    color: var(--color-text-white);
    font-size: 1.1rem;
}

.profile-top-right {
    display: flex;
    gap: 2em;
    color: var(--color-text-white);
}

.profile-favorite-movies {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.favorite-movies-title {
    width: 55.5%;
    border-bottom: 1px solid var(--color-text-white);
    color: var(--color-text-green);
    font-size: 1.2rem;
    padding-bottom: 0.5em;
}

.profile-bottom {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 3em;
    gap: 2em;
}

.favorite-movies {
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.profile-reviews {
    display: flex;
    flex-direction: column;
}

.movie-review {
    display: flex;
    gap: 1em;
}

.review-title {
    color: var(--color-text-white);
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0.3em;
}

.review-review {
    color: var(--color-text-white);
    font-weight: 300;
    color: var(--color-text-green);
}

.review-year {
    font-weight: 300;
    font-style: italic;
}

.review-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0.5em;
}