.trailer {
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 0.3em;
}

.trailer img {
    width: 200px;
    height: auto;
    border-radius: 4px;
}

.trailer img:hover {
    cursor: pointer;
}

.trailer p {
    color: var(--color-text-white);
}

.trailer-show-trailer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in;
}