.picture-holder {
    background-image: url("up.jpg");
    background-size: auto;
    width: 100%;
    height: 700px;
    box-shadow: inset 20px 10px 10px 20px var(--color-background), inset -40px -10px 10px 0 var(--color-background);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.picture-holder p {
    color: var(--color-text-white);
    font-family: "Kurale";
    font-size: 1.8rem;
}

.picture-holder-signup {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.picture-holder-signup>button {
    background-color: var(--color-button-dark-green);
    border: none;
    font-family: "Kurale";
    font-style: italic;
    font-size: 1.2rem;
    color: var(--color-text-white);
    border-radius: 4px;
    padding: 10px 5px;
    cursor: pointer;
    width: 60%;
}