.home-page-movies {
    background-color: var(--color-background2);
    height: auto;
    width: 60%;
    border-radius: 8px;
    margin-top: 2em;
    padding: 2em 2em;
    margin-bottom: 2em;
}

.homepage-h1 {
    color: white;
    font-family: "Fredoka";
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 1em;
}

.movies-of-the-day-posters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.distance {
    margin-bottom: 2.5em;
}

.trending-movies-tv {
    display: flex;
    flex-direction: row;
    gap: 1em;
    overflow-x: auto;
    padding-bottom: 1em;
}

.trending-upper {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.trending-btn-change {
    width: auto;
    height: 30px;
    padding: 0.5em 1em;
    background-color: var(--color-background2);
    border: 1px solid white;
    border-radius: 8px;
    color: var(--color-button-dark-green);
    cursor: pointer;
    transition: 0.5s ease-in;
    font-weight: 600;
    font-family: "Fredoka";
    text-align: center;
    line-height: 0px;
}

.trending-btn-change:hover {
    background-color: var(--color-text-white);
    color: var(--color-background2);
}