.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header img {
    width: auto;
    height: 50px;
}

.header a {
    color: white;
    text-decoration: none;
    transition: 0.35s ease-in-out;
}

.header a:hover {
    color: var(--color-button-light-green);

}

.header-right-side {
    display: flex;
    gap: 1em;
}