.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1em 0em;
}

.header img {
    width: auto;
    height: 50px;
}

.header a {
    color: white;
    text-decoration: none;
    transition: 0.35s ease-in-out;
}

.header a:hover {
    color: var(--color-text-green);

}

.header-right-side {
    display: flex;
    gap: 1em;
    align-items: center;
}

.header-right-side-routing {
    display: flex;
    flex-direction: row;
    gap: 0.95em;
    font-size: 0.95rem;
    font-weight: 450;
}

.movie-search {
    display: flex;
    flex-direction: column;
}

.movie-search-allmovies {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
    padding: 1em;
    z-index: 100;
    width: 183px;
    max-height: 170px;
    position: absolute;
    top: 45px;
    box-sizing: border-box;
    overflow-y: scroll;
    background-color: var(--color-background);
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-top: -0.2em;
}

.movie-search-input {
    padding: 0.5em;
    border-radius: 12px;
    border: none;
    outline: none;
    background-color: aliceblue;
    width: 130px;
    height: auto;
}

.movie-search-input:hover {}

.header-logo {
    font-weight: 40;
    font-size: 1.35rem;
    color: var(--color-text-white);
}