.movie-background {
    width: 100%;
    height: 600px;
    box-shadow: inset 0px 5px 10px 5px var(--color-background2), inset 0px -10px 10px 0 var(--color-background2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(185, 55, 55, 0.5);
    z-index: 1;
}

.movie-background:before {
    position: absolute;
    height: inherit;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: inherit;
    content: ' ';
    background-color: rgba(0, 0, 0, .5);
    z-index: 2;
}

.movie-inner-background {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 3em;
}

.movie-middle-side {
    width: 40%;
}

.movie-middle-side-title-year {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.movie-middle-side-title-year>h1 {
    font-family: "Kurale";
    color: var(--color-text-white);
    font-weight: 400;
}

.movie-middle-side-title-year>p {
    font-weight: 500;
    color: #111d15;
}

.movie-middle-side-overview {
    color: var(--color-text-white);
    font-weight: 300;
}

.movie-trailer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in;
}

.movie-trailer-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: var(--color-text-white);
    font-size: 1.3rem;
}

.movie-right-side {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em 0em;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 12%;
}

.movie-right-side>div {
    color: var(--color-text-white);
    cursor: pointer;
    font-weight: 300;
    width: 100%;
    text-align: center;
    padding-bottom: 0.5em;
    font-size: 0.9rem;
}

.border {
    border-bottom: 2px solid rgba(192, 192, 192, 0.5);
}

.movie-play-trailer {
    border: 1px solid #9A1E1E;
    cursor: pointer;
    border-radius: 8px;
    padding: 0.5em 2.4em;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--color-text-white);
    font-family: "Fredoka";
    text-align: center;
    font-size: 0.95rem;
    transition: 0.2s ease-in;
}

.movie-play-trailer:hover {
    background-color: rgba(247, 247, 247, 0.5);
    color: var(--color-background2);
}

.movie-details {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.movie-details-toggle {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 1em;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 0.4em;
    width: 50%;
}

.movie-details-toggle-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}


.movie-details-buttons {
    border: none;
    color: var(--color-text-green);
    background: none;
    cursor: pointer;
    font-family: "Fredoka";
    font-size: 1.2rem;
}

.movie-button-redirect {
    background-color: var(--color-button-light-green);
    color: var(--color-text-green);
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.5);
    padding: 0.5em 1em;
    font-size: 0.9rem;
}

.movie-cast {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    gap: 1em;
    width: 50%;
    margin-top: 0.5em;
}

.movie-more-information>p {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
}

.movie-user-reviews {
    width: 50%;
    margin-top: 2em;
}

.movie-user-reviews>p {
    color: var(--color-text-green);
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
    padding: 0.2em;
    margin-bottom: 0.8em;
}

.user-review {
    display: flex;
    gap: 0.5em;
    align-items: start;
    margin-bottom: 0.8em;
}

.user-review-text {
    display: flex;
    flex-direction: column;
}

.user-review-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.user-review-name {
    color: var(--color-text-green);
    font-weight: 400;
    margin-bottom: 0.5em;

}

.user-review-review {
    color: var(--color-text-white);
    font-weight: 300;
}

.movie-similar-movies {
    width: 50%;
}

.movie-similar-movies>p {
    color: var(--color-text-green);
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
    padding: 0.2em;
    margin-bottom: 0.8em;
}

.movie-rendered-similar-movies {
    width: 100%;
    display: flex;
    gap: 0.5em;
    overflow-x: auto;
}

.movie-department {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.movie-department-title {
    font-size: 1.1rem;
    color: var(--color-text-white);
}

.movie-review-circle {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-background2);
    font-weight: 400;
}

.movie-interaction {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.movie-left-side {
    width: 20%;
}

.movie-description-icons {
    width: 20%;
    height: auto;
}

.movie-statistics {
    display: flex;
    justify-content: flex-start;
    width: 45%;
}


.movie-statistics>p {
    color: var(--color-text-white)
}